@font-face {
    font-family: Mukta;
    src: url(../Fonts/Mukta-Regular.woff);
  }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #4a34b5, #5e2aa4, #6a1f94, #711583, #740a74);
}
main form {
    background-color: #f2f2f2;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}
main form label, main form input, main form select {
    display: block;
    width: 100%;
}
main form label {
    padding: 10px 0;
    font-family: 'Mukta';
    font-weight: bold;
}
main form select {
    width: 50%;
    margin: auto;
    font-family: 'Mukta';
}
.priceAndTotal {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
}
.priceAndTotal input{
    display: block;
    width: 100%;
}
main form input {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #000;
    text-indent: 2%;
    background-color: transparent;
}
main form input:focus {
    outline: none;
}
main form button[type=submit] {
    width: 50%;
    display: block;
    margin: auto;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #000;
    color: #ccc;
    transition: 200ms ease-in-out;
    margin-top: 5%;
}
main form button[type=submit]:hover {
    cursor: pointer;
    opacity: 0.9;
}
main form #itemWrapper .item {
    border: 2px dashed #000;
    padding: 10px;
    margin-top: 3%;
}
main form #buttons {
    text-align: center;
}
main form #buttons button {
    border: none;
    background-color: #000;
    color: #ccc;
    padding: 3px 0;
    width: 20%;
    border-radius: 5px;
    font-size: 1.2em;
}
main form #buttons button:hover{
    cursor: pointer;
}
main form #sumi {
    border: none;
    background-color: #000;
    color: #ccc;
    padding: 5px 0;
    width: 20%;
    display: block;
    margin: 2% auto;
    border-radius: 5px;
}
main form #sumi:hover{
    cursor: pointer;
}